@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f5f5f5;
}

.fixedCenterY {
  top: 50%;
  transform: translateY(-50%);
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

.fixedCenterXnY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: poppins-bold;
  src: url(../../public/Poppins-Bold.ttf);
}

.poppins-bold {
  font-family: poppins-bold;
}

@font-face {
  font-family: poppins-semibold;
  src: url(../../public/Poppins-SemiBold.ttf);
}

.poppins-semibold {
  font-family: poppins-semibold;
}

@font-face {
  font-family: poppins-light;
  src: url(../../public/Poppins-Light.ttf);
}

.poppins-light {
  font-family: poppins-light;
}

.linea {
  visibility: hidden;
}

.nav:hover .linea {
  visibility: visible;
}

.columnas {
  background-image: url(../assets/images/columnas.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}

.mapa {
  background-image: url(../assets/images/mapa.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.law {
  background-image: url(../assets/images/law.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.biblioteca {
  background-image: url(../assets/images/biblioteca.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.company {
  background-image: url(../assets/images/company.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.firma {
  background-image: url(../assets/images/firma.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.columnas2 {
  background-image: url(../assets/images/columnas2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  filter: grayscale(100%);
}

.pluma {
  background-image: url(../assets/images/pluma.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}

.columnas3 {
  background-image: url(../assets/images/columnas3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.logo {
  background-image: url(../assets/images/logo.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.audits {
  background-image: url(../assets/images/audits.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.impuestos {
  background-image: url(../assets/images/impuestos.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contables {
  background-image: url(../assets/images/contables.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.asesoria {
  background-image: url(../assets/images/asesoria.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.planilla {
  background-image: url(../assets/images/planilla.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.activos {
  background-image: url(../assets/images/activos.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.legal {
  background-image: url(../assets/images/legal.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.finance {
  background-image: url(../assets/images/finance.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.otro {
  background-image: url(../assets/images/otro.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.columnas4 {
  background-image: url(../assets/images/columnas4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
